.carousel-container {
    max-height: 50vh;
    position: relative;
}

.carousel-container-headline {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-family:'Times New Roman', Times, serif;
    font-size: 120px;
    color:white;
}

.header{
    width: 100%;
    display: flex;
    padding: 20px 50px 20px 50px;
    background-color: red;
    background-image: linear-gradient(to right, rgb(101, 51, 20), rgb(173, 48, 20));
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    color: white;
}


.header-content{
    display: flex;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
}

.header-content-icon{
    width: 50px;
    height: 50px;
    object-fit: cover;
}


.header-content-input{
    width: 300px;
}

.body{
    background-color:rgb(232, 188, 27);
    background-image: linear-gradient(to right, rgb(208, 128, 113), rgb(225, 149, 43));
    
}

.harry{
    
}
.font-style{
    color: aliceblue;
}

.row-content{
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 800px) {
    .header-content {
        flex-direction: column;
    }
    .header {
        flex-direction: column;

    }
}

.flex {
    display: flex;

    gap: 16px
}

footer {
    margin-top: 30px;
    background-color: rgb(164, 73, 12);
    padding: 10px 20px;
    gap: 50px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

footer >div > p {
    margin-bottom: 0px !important;
}

footer > div > img {
   width: 20px;
   height: 20px;
}